<a href="https://colab.research.google.com/github/dedipyabangaru-356/c-programs/blob/main/Assignment_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Taking input

In [ ]:
#Taking input
a=input()
print(a)

23
23

Printing different datatypes using print and .format

In [ ]:
#printing different datatypes using print and .format
a=2
print(a)
b='dedipya'
print(b)
c=float(a)
print(c)
d=True
print(d)
e=complex(a)
print(e)
print("this is the .format output")
#.format
datatypes="int={},string={},float={},boolean={},complex={}"
print(datatypes.format(a,b,c,d,e))

2
dedipya
2.0
True
(2+0j)
this is the .format output
int=2,string=dedipya,float=2.0,boolean=True,complex=(2+0j)

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print 
the output

In [ ]:
a=float(input('num 1 ='))
b=float(input('num 2 ='))
#addition
A=a+b
#substraction
S=a-b
#multiplication
M=a*b
#division
D=a/b
#reminder
R=a%b
output="addition={} ; substraction={} ; multiplication={} ; division={} ; reminder={}"
print(output.format(A,S,M,D,R))

num 1 =10
num 2 =5
addition=15.0 ; substraction=5.0 ; multiplication=50.0 ; division=2.0 ; reminder=0.0

Convertion of units

In [ ]:
#convertion of units
a=float(input("hour="))
b=float(input('mile='))
print('hours to minutes =',a*60)
print('miles to km =',a*1.609)

hour=1
mile=3
hours to minutes = 60.0
miles to km = 1.609

Using mathematical functions

In [ ]:
#Using mathematical functions
import math
a=float(input('num 1='))
b=float(input('num 2='))
#math.ceil
print('math.ceil=',math.ceil(a))
#math.floor
print('math.floor=',math.floor(a))
#math.fabs
print('math.fabs=',math.fabs(a))
#math.fmod
print('math.fmod=',math.fmod(a,b))
#math.trunc
print('math.trunc=',math.trunc(a))
#math.pow
print('math.pow=',math.pow(a,b))
#math.sqrt
print('math.sqrt=',math.sqrt(a))

num 1=4
num 2=1
math.ceil= 4
math.floor= 4
math.fabs= 4.0
math.fmod= 0.0
math.trunc= 4
math.pow= 4.0
math.sqrt= 2.0

Mathematical calculator

In [ ]:
#mathematical calculator
a=float(input('a='))
b=float(input('b='))
o=input("operation=")
if (o=='+'):
  print(a+b)
elif (o=='*'):
  print(a*b)
elif(o=='-'):
  print(a-b)
elif(o=='/'):
  print(a/b)
elif(o=='%'):
  print(a%b)
else:
  print('!!! operand invalid !!!')

a=8
b=4
operation=+
12.0

grade of student for 5 subjects

In [ ]:
#grade of student for 5 subjects
m=[]
n=0
for i in range (5) :
 m.append(int(input(f"marks of {(i+1)} st subject")))
n=n+m[0]+m[1]+m[2]+m[3]+m[4]
avg=n/5
print(f"the average grade of student is : {avg}")

marks of 1 st subject89
marks of 2 st subject85
marks of 3 st subject92
marks of 4 st subject93
marks of 5 st subject98
the average grade of student is : 91.4

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers 
within a given range.

In [ ]:
a=int(input("range = "))
print("even numbers:")
c=0
for i in range(1,a+1):
 if(i%2==0):
  c+=1
  print(i,end="\t")
print("\nno of even numbers =",c)
print("odd numbers:  ")
d=0
for j in range(1,a+1):
 if(j%2!=0):
  d+=1
  print(j,end="\t")
print("\nno of odd numbers = ",d)

range = 7
even numbers:
2	4	6
no of even numbers = 3
odd numbers:
1	3	5	7
no of odd numbers =  4

Factorial of a given number, GCD of two given 
numbers, Fibonacci series up to N numbers

In [ ]:
#factorial of given number
n=int(input("number = "))
f=1
for i in range(1,n+1):
  f=f*i
print("factorial of given number =",f)

number = 6
factorial of given number = 720

In [ ]:
#GCD of two given numbers
a=int(input("num 1= "))
b=int(input("num 2= "))
t=a if (a<b) else b
while True:
  if(a%t==0 and b%t==0):
   break
  t-=1
print('GCD of the numbers =',t)

num 1= 4
num 2= 8
GCD of the numbers = 4

In [ ]:
#Fibonacci series up to N numbers
a=int(input('number = '))
b=0
c=1
d=0
while a>=d :
  if (a>=b and a>=c) :
    print(f"{b} ",end=" ")
    print(f"{c}",end=" ")
  else:
          print(f"{b}",end=" ")
  d=b+c
  c=c+d
  b=d

number = 6
0  1 1  2 3  5

Checking whether the given input is a palindrome (or) strong (or) perfect number

In [ ]:
#palindrome
a=int(input("number = "))
b=a
rev=0
while(a!=0):
  r=a%10
  rev=rev*10+r
  a=a//10
if(rev==b):
  print("it is a palindrome")
else:
  print("it is not a palindome")
#strong
n=b
t=n
sum=0
while(n !=0):
  r=n%10
  f=1
  while(r !=1):
    f=f*r
    r=r-1
  sum=sum+f
  n=n//10
if(sum==t):
  print("it's a strong number")
else:
  print("it's not a strong number")
#perfect
n=b
s=0
for i in range(1,(n//2+1)):
  if n%i == 0:
   s+=i
   
if(s == n):
  print("it's a perfect number")
else:
  print("it's not a perfect number")

number = 565
it is a palindrome
it's not a strong number
it's not a perfect number

compound interest

In [ ]:
# Python3 program to find compound interest
principle=int(input("principle="))
rate=float(input("rate="))
time=int(input("time="))
Amount = principle* (pow((1 + rate / 100), time))
CI = Amount - principle
print("Compound interest is", CI)

principle=45
rate=4
time=30
Compound interest is 100.95288795123938